.cache
.dap-breakpoints
.extension
.lsp-session*
.mc-*
async-bytecomp.log
auto-save-list*
backups
bookmarks
custom.el
dap-ui-repl-*
derby*
eln-cache/
elpa
emojis
ensime
history
ido*
metastore_db*
multisession/
network-security.data
pcache
places
projectile-bookmarks.eld
projectile.cache
projects
recentf
rust-playground/
transient/
tree-sitter
url