backups
elpa
ensime
history
places
recentf
url
ido*
.mc-*
derby*
auto-save-list*
metastore_db*
projectile-bookmarks.eld
projectile.cache
rust-playground/
.cache
.extension
emojis
.lsp-session*
.dap-breakpoints
network-security.data
transient/
pcache
